<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <STYLE> 
    .jcarousel-skin-ad4,.jcarousel-skin-ad4 .jcarousel-clip,.jcarousel-skin-ad4 li {height: 90px; overflow: hidden} 
    </STYLE>

    <UL id=ad4 class=jcarousel-skin-ad4>
        <LI><A href="http://acftu.workercn.cn/eedsszghzt/eeds.html" target=_blank><IMG src="/html/files/2019-05/06/20190506144250038398031.jpg" width=660 height=90></A> </LI>
        <LI><A href="http://acftu.workercn.cn/btszghzt/bt.html" target=_blank><IMG src="/html/files/2019-05/06/20190506144323199475563.jpg" width=660 height=90></A> </LI>
        <LI><A href="http://acftu.workercn.cn/hlbeszgh/hlbe.html" target=_blank><IMG src="/html/files/2019-04/15/20190415162238010924893.jpg" width=660 height=90></A> </LI>
        <LI><A href="http://acftu.workercn.cn/zgzq/index.html" target=_blank><IMG src="/html/files/2018-11/07/20181107124845168962504.jpg" width=660 height=90></A> </LI></UL>
    <SCRIPT>
        window.onload=function(){
            $("#ad4").jcarousel({auto:3,vertical:true,buttonPrevHTML:null,buttonNextHTML:null,scroll:1,wrap:"circular"});
        }
    </SCRIPT>


    <STYLE>  
    .jcarousel-skin-ad4,.jcarousel-skin-ad4 .jcarousel-clip,.jcarousel-skin-ad4 li {height: 90px; overflow: hidden}  
    </STYLE>

    <UL id=ad4 class=jcarousel-skin-ad4>
        <LI><A href="http://neimg.workercn.cn/33224/33224.shtml" target=_blank><IMG src="/html/files/2018-12/18/20181218112247919153660.jpg" width=320 height=90></A> </LI>
        <LI><A href="http://acftu.workercn.cn/xlhtszgh/xlht.html" target=_blank><IMG src="/html/files/2019-05/06/20190506150115448650901.jpg" width=320 height=90></A> </LI></UL>
    <SCRIPT>
        window.onload=function(){
            $("#ad4").jcarousel({auto:3,vertical:true,buttonPrevHTML:null,buttonNextHTML:null,scroll:1,wrap:"circular"});
        }
    </SCRIPT>
</head>
<body>

</body>
</html>