div.panel, p.flip {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #e5eecc;
    border: solid 1px #c3c3c3;
}

div.panel {
    height: 120px;
    display: block;
}

.p-content {
    width: 105px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #74a9ff;
    border-radius: 3px;
    margin-left: 10px;
    display: inline-block;
}

